html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  width: 6px!important;
  /* height: 6px!important; */
}

::-webkit-scrollbar-track{
  background: hsla(0, 0%, 100%, 0.1);
}

::-webkit-scrollbar-thumb{
  height: auto;
  background: rgba(0,0,0,0.2);
}